body {
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#image-container {
    text-align: center;
}

#image-container img {
    max-width: 500px;
    max-height: 500px;
}

#known-images-container {
    width: 200px;
}

#known-images-list {
    list-style-type: none;
    padding: 0;
}

#known-images-list li {
    cursor: pointer;
    margin: 5px 0;
    text-decoration: underline;
    color: blue;
}